<%= render 'form', user: @user %>

<h3>Valid emails</h3>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Url</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.url %></td>
            <% if user.valid_email %>
              <td><%= user.valid_email %>
            <% else %>
              <td>Processing...</td>
            <% end %>
            <td><%= link_to 'remove', user, remote: true, method: :delete %></td>
        </tr>
        <% end %>
  </tbody>
</table>

<br>

